{% extends 'base.html' %}
{% block title %}Login – Almari{% endblock %}

{% block content %}
<body class="fullscreen-form">
<div class="form-box">
  <h2 class="form-title">Login</h2>
  <form method="POST" novalidate>
    {% csrf_token %}
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password }}
      {{ form.password.errors }}
    </div>
    <button type="submit" class="btn-primary">Login</button>
  </form>
  <p class="small-link">
    Don’t have an account? 
    <a href="{% url 'users:signup' %}">Sign up</a>
  </p>
</div>
</body>
{% endblock %}
