{% extends "core/base.html" %}
{% load static %}

{% block content %}
<header class="px-6 py-10 lg:py-20 bg-purple-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">
            Welcome to Almari
        </p>
        <p class="mb-5 text-lg lg:text-xl text-white">
            A platform to connect with people who share your interests and hobbies.
        </p>
        <a href="#" class="inline-block px-8 py-4 rounded-xl bg-white text-purple-500 hover:bg-blue-100">Start Shopping</a>

    </div>
</header>
<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <div class="products flex items-center flex-wrap">
        <div class="w-full md:w-1/3 xl:w-1/4 p-6">
            <a href="#">
                <img class="rounded-xl hover:shadow-lg" src="C:\Users\Sakeb\Desktop\CSE471\Media\Final Pictures\Buy Now.png" alt="Reload again">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <a href="#">Product Name</a>
                <a href="#" class="text-purple-500 hover:text-purple-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                      </svg>
                </a>
            </div>
            <p class="pt-1 text-gray-400">$5.00</p>
        </div>
        <div class="w-full md:w-1/3 xl:w-1/4 p-6">
            <a href="#">
                <img class="rounded-xl hover:shadow-lg" src="C:\Users\Sakeb\Desktop\CSE471\Media\Final Pictures\Buy Now.png" alt="Reload again">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <a href="#">Product Name</a>
                <a href="#" class="text-purple-500 hover:text-purple-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                      </svg>
                </a>
            </div>
            <p class="pt-1 text-gray-400">$5.00</p>
        </div>
        <div class="w-full md:w-1/3 xl:w-1/4 p-6">
            <a href="#">
                <img class="rounded-xl hover:shadow-lg" src="C:\Users\Sakeb\Desktop\CSE471\Media\Final Pictures\Buy Now.png" alt="Reload again">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <a href="#">Product Name</a>
                <a href="#" class="text-purple-500 hover:text-purple-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                      </svg>
                </a>
            </div>
            <p class="pt-1 text-gray-400">$5.00</p>
        </div>
        <div class="w-full md:w-1/3 xl:w-1/4 p-6">
            <a href="#">
                <img class="rounded-xl hover:shadow-lg" src="C:\Users\Sakeb\Desktop\CSE471\Media\Final Pictures\Buy Now.png" alt="Reload again">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <a href="#">Product Name</a>
                <a href="#" class="text-purple-500 hover:text-purple-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                      </svg>
                </a>
            </div>
            <p class="pt-1 text-gray-400">$5.00</p>
        </div>
    </div>
</div>
{% endblock %}