<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{% block title %}Almari{% endblock %}</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
  
  {% load static %}
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <!-- Conditionally render the navbar and footer only if the user is not on the login page -->
  {% if not hide_nav %}
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand d-flex align-items-center gap-2" href="#">
        <img src="{% static 'images/Almari Logo.png' %}" alt="Almari Logo" style="height: 40px; width: 40px; object-fit: contain;" class="mr-2">
        <span class="font-weight-bold text-purple-700">Almari</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users:admin_dashboard' %}">Dashboard</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="menu-container ml-auto">
          <button id="menu-button" class="btn btn-primary">Menu</button>
          <div id="submenu" class="submenu hidden">
            <ul class="list-none">
              <li><a href="#">Social Wall</a></li>
              <li><a href="{% url 'users:edit_profile' user_id=user.id %}">Edit</a>
              </li>
              <li><a href="#">View Cart</a></li>
            </ul>
          </div>
      </div>
    </nav>
  {% endif %}

  <!-- Main content block -->
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  {% if not hide_nav %}
    <!-- Footer -->
    <footer class="bg-green-100">
      <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
        <div class="footer-left mb-12 md:mb-0">
          <h2 class="mb-5 uppercase text-lg">About Us</h2>
          <p class="text-gray-600">Almari is a platform that connects people with similar interests and hobbies. We aim to create a community where individuals can share their passions and learn from each other.</p>
        </div>
        <div class="footer-right">
          <h2 class="mb-5 uppercase text-lg">Contact Us</h2>
          <ul class="space-y-2">
            <li><a href="#" class="text-purple-500 hover:text-purple-800">Facebook</a></li>
            <li><a href="#" class="text-purple-500 hover:text-purple-800">Twitter/X</a></li>
            <li><a href="#" class="text-purple-500 hover:text-purple-800">Instagram</a></li>
            <li><a href="#" class="text-purple-500 hover:text-purple-800">Mail</a></li>
          </ul>
        </div>
      </div>
      <p class="text-gray-600 px-3 py-3">&copy; 2023 Almari</p>
    </footer>
  {% endif %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById('menu-button').addEventListener('click', function() {
      var submenu = document.getElementById('submenu');
      submenu.classList.toggle('hidden');
    });
  </script>
</body>

</html>
